component {
  .configs {
    text-align: center;
    font-size: 14px;
    margin-top: 3px;
    
    .modalLink {
      margin-right: 10px;
      cursor: pointer;
    }

    .columnFilters {
      text-decoration: underline;
      color: #3379A9;
      cursor: pointer;

      &:hover {
        color: #9BC0C6;
      };
    }
  }
}

@media (max-width: 600px) {
  component {
  }
}