#main-container
  max-width: calc(100% - 50px)
  margin-left: auto
  margin-right: auto
  background: #fff

.person-filters
  text-align: center

  .filter-inputs
    text-align: left
    background: #e5e5e5
    overflow: hidden
    box-shadow: 0px 3px 3px #666

    .filter-inputs-inner
      padding: 15px 30px

      .filter
        
        .filter-name
          display: inline-block
          width: 150px

        .filter-range
          display: inline-block
          width: 100px

        .filter-input
          display: inline-block
          width: 200px

        &.string-filter, &.option-filter
          .filter-name
            width: 250px

  .filter-title
    background: #e5e5e5
    border-radius: 0 0 10px 10px
    display: inline-block
    padding: 5px 15px
    border: solid 1px #666
    border-top: none
    &:hover
      color: #666
      cursor: pointer

    &::after
      font-size: 12px
      margin-left: 10px
      color: #008DFF

  &.not-shown

    .filter-inputs
      max-height: 0

    .filter-title::after
      content: "\25BC"
      
  &.shown
  
    .filter-title::after
      content: "\25B2"
      
.players-list
  width: 100%
  margin-top: 10px
  border-collapse: collapse
  font-size: 12px
  padding: 0 5px

  thead

    .inactive::after
      color: #ccc

    .asc::after
      font-size: 12px
      content: "\25B2"

    .desc::after
      font-size: 12px
      content: "\25BC"

  td
    text-align: right

  thead td
    border-bottom: solid 1px black
    font-weight: bold

  .baggage, .baggage-first-name, .baggage-last-name, .baggage-vec
    background: #ccc

  .inch
    display: inline-block
    width: 20px

.menu

  .open-icon
    position: fixed
    left: 10px
    top: 0px
    color: white
    font-size: 50px
    line-height: 20px

    &:hover
      color: #ccc
      cursor: pointer

  .close-icon
    font-size: 50px
    line-height: 20px
    z-index: 5

    &:hover
      color: #333
      cursor: pointer

  .menu-container
    position: fixed
    width: 100%
    height: 100%
    top: 0
    bottom: 0
    background: white
    left: -100%

    &.open
      left: 0