component {

  .title {
    display: block;
    text-align: center;

    .explanationToggle {
      padding: 0px 5px;
      border: solid 1px #ccc;
      cursor: pointer;
      border-radius: 25px;
      margin-left: 5px;

      &:hover {
        border-color: #666;
      }
    }
  }

  .filterExplanations {
    width: 100%;
    padding: 15px 0;
    text-align: center;

    .filterDec {
      text-align: left;
      vertical-align: bottom;
    }

    .okBtn {
      font-size: 14px;
      text-align: center;
      text-decoration: underline;
      color: #3379A9;
      cursor: pointer;

      &:hover {
        color: #9BC0C6;
      }
    }
  }

  .filterIcons {
    display: inline-block;
    margin: 3px 0;

    .rowFilter {
      display: inline-block;
      padding: 5px;
      background: #fff;
      text-align: center;
      margin: 3px 5px;
      cursor: pointer;

      &.filtered {
        box-shadow: 1px 1px 5px #666;
      }

      &:hover {
        background: #e9e9e9;
      }

      .logo {
        display: inline-block;
        width: 40px;
        height: 40px;
      }

      .filterName {
        display: inline-block;
        width: 100%;
      }
    }
  }
}