container {
  text-align: center;
  padding: 10px 0;
  background: #fff;
  min-height: 600px;

  .error {
    background: rgba(0,0,0,.9);
    color: white;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9;
    padding: 250px 100px 100px 100px;
  }

}