container {
  text-align: center;
  padding: 0;
  background: #fff;
  min-height: 600px;

  .error {
    text-align: center;

    .spinner {
      padding-top: 50px;
    }

    img {
      max-height: 50%;
    }
  }

  .pwRequired {
    margin-top: 50px;

    .title {
      font-weight: bold;
      margin-bottom: 50px;
    }
  }

}