component {

  .tutorialLink {
    position: absolute;
    top: 25px;
    right: 15px;
    display: inline-block;
    width: 150px;
    text-align: center;
    color: #fff;
    cursor: pointer;

    &:before {
      content: '?';
      border: solid 2px #fff;
      border-radius: 150px;
      padding: 5px 12px;
      margin-right: 5px;
    }

    &:hover:before {
      border-color: #999;
    }

    &.active:before {
      content: 'X';
    }

    &:hover {
      color: #999;
    }
  }

  .tutorial {

    .navLink {
      cursor: pointer;
    }

    .step {

      .top {

        background: rgba(13, 61, 101, .90);
        position: fixed;
        left: 0;
        right: 0;
        top: 73px;
        color: #ddd;
        height: 0;
        transition: height .55s ease-out;

        &.step3 {
          height: 98px;
        }

        &.step4 {
          height: 245px;
        }

      }

      .bottom {

        background: rgba(13, 61, 101, .90);
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        color: #ddd;
        transition: top .55s ease-out;
      
        &.step1 {
          top: 73px;
        }

        &.step2 {
          top: 175px;
        }

        &.step3 {
          top: 260px;
        }

        &.step4 {
          top: 100%;
        }

      }

      h3 {
        font-weight: normal;
        display: inline-block;
        width: 500px;
        position: absolute;
        left: 50px;
        top: 25px;
        font-size: 32px;
      }

      .navLink {
        font-weight: normal;
        display: inline-block;
        position: absolute;
        text-align: center;
        bottom: 25px;
        left: 15px;
        right: 15px;

        .nextStep {
          text-decoration: underline;
          display: inline-block;
        }

        .quit {
          text-decoration: underline;
          display: inline-block;
        }

        .conj {
          margin: 0 25px;
          display: inline-block;
        } 
      }
    }
  }
}