component {

  .tutorialLink {
    position: absolute;
    top: 25px;
    right: 15px;
    display: inline-block;
    width: 150px;
    text-align: center;
    color: #fff;
    cursor: pointer;

    &:before {
      content: '?';
      border: solid 2px #fff;
      border-radius: 150px;
      padding: 5px 12px;
      margin-right: 5px;
    }

    &:hover {
      color: #999;
    }
  }

  .tutorial {

    .navLink {
      cursor: pointer;
    }

    .step {

      background: rgba(13, 61, 101, .95);
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      color: #ddd;
      transition: top .75s ease-in-out;
    
      &.step1 {
        top: 73px;
      }

      &.step2 {
        top: 175px;
      }

      &.step3 {
        top: 260px;
      }

      &.step4 {
        top: 600px;

        h3 {
          top: 0px;
        }
      }

      h3 {
        font-weight: normal;
        display: inline-block;
        width: 300px;
        position: absolute;
        left: 50px;
        top: 50px;
        font-size: 32px;
      }

      .navLink {
        font-weight: normal;
        display: inline-block;
        position: absolute;
        border-radius: 1px;
        padding: 3px 50px;

        &.quit {
          background: #ccc;
          color: #000;
          top: 25px;
          left: 40%;
          font-size: 16px;
        }

        &.nextStep {
          text-decoration: underline;
          left: 25px;
          bottom: 25px;
          font-size: 24px;
        }
      }

    }
  }
}