container {

  .animatee {
    display: fixed;
    position: left: 49%;
    top: 50%;
  }

  .loginOption {
    display: inline-block;
    width: 64px;
    height: 64px;
    margin: 10px 25px;
    cursor: pointer;
    border: solid 3px #ddd;
    padding: 15px;
    border-radius: 2px;

    &:hover {
      border-color: #0D3D65;
    }

    &.google {
      background: url("../google-plus-64.png") no-repeat center center;
    }

    &.facebook {
      background: url("../facebook-64.png") no-repeat center center;
    }

    &.twitter {
      background: url("../twitter-64.png") no-repeat  center center;
    }
  }
 
}