container {

  .form-group {
    display: block;

    label {
      display: inline-block;
      width: 100px;
      text-align: left;
      margin-right: 5px;
    }

    div {
      display: inline-block;
    }
  }

  .draftItems {
    display: inline-block;
    width: 300px;
    position: relative;
    cursor: pointer;
    
    .draftItem {
      padding: 10px;
      border-bottom: solid 2px #ccc;
      border-right: solid 2px #ccc;
      border-left: solid 2px #ccc;

      &:nth-of-type(1) {
        border-top: solid 2px #ccc;
      }

      &:hover {
        background: #0D3D65;
        color: #eee;
      }
    }
  }
 
}