component {
  text-align: left;

  .draftOrders {
    overflow-x: hidden;
    background: #eee;
    clear: both;

    .draftOrderHeaders {
      font-size: 12px;
      text-align: left;

      .title {

        &:after {
          content: '\2192';
        }
      }

      .current {
        display: inline-block;
        width: 150px;
        border-bottom: solid 1px #000;
      }
    }

    .draftOrdersInner {

      width: 5000px;
      height: 65px;

      .draftOrder {
        display: inline-block;
        margin: 0;
        text-align: center;
        font-size: 14px;
        border: solid 3px rgba(0,0,0,0);
        width: 150px;
        
        .draftOrderTeam {
          margin: 0 1px;
          display: inline-block;
          width: 100%;
          border-bottom: solid 12px rgba(0,0,0,0);
        }

        &.current {
          border-left: solid 3px #000;
          border-right: solid 3px #000;
        }

        .draftOrderPlayer {
          width: 100%;
          margin: 0 1px;
          display: inline-block;
          border-bottom: solid 12px rgba(0,0,0,0);
        }
      }
    }
  }

  .controls {
    float: left;
    margin-top: 10px;

    .link {
      display: inline-block;
      color: black;
      font-size: 14px;
      margin-left: 25px;
      border: solid 1px #999;
      background: #ccc;
      width: 100px;
      text-align: center;
    }
  }

  .teamSummary {
    margin-left: 150px;
    padding: 5px;
    border-top: solid 10px rgba(0,0,0,0);
    border-bottom: solid 10px rgba(0,0,0,0);

    .teamName {
      display: inline-block;
      background: rgba(255,255,255,.7);
      width: 200px;
      overflow: hidden;
    }

    .teamDrafts {
      display: inline-block;
      background: rgba(255,255,255,.7);
    }

    .teamGenders {
      display: inline-block;
      background: rgba(255,255,255,.7);
    }
  }
  
}