component {

  .drafts {
    width: 100%;

    thead td {
      border-bottom : solid 1px #000;
      font-weight: solid;
    }
  
    .draft {
      padding: 5px 25px;

      &:hover {
          background: #ccc;
      }
    
      .team, .player {
        text-align: left;
      }

      .controls {
        text-align: center;

        .undo {
          background: #F97171;
          border: solid 1px black;
          cursor: pointer;
          width: 25px;
          border-radius: 7px;

          &:hover {
            background: red;
          }
        }
      }
    }  
  }  
}