component {
  .background {
    position: fixed;
    z-index: 8;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,.8);
  }

  .foreground {
    background: white;
    width: 75%;
    margin: 5% auto;
    border-radius: 7px;

    .modalChild {
      max-height: 80%;
      overflow-y: scroll;
    }

    .modalNav {
      background: #DCF2F9;
      border-top: solid 1px black;
      border-radius: 0 0 7px 7px;
      margin-top: 10px;
      padding: 3px;
      text-align: center;

      .buttonContainer {
        width: 50%;
        margin: 0;
        padding: 0;
        display: inline-block;

        button {
          width: 100px;
          text-align: center;
        }
      }

    }

  }
}