component {

  text-align: center;

  .teamChoice {
    width: 80%;
    margin: 4px auto;
    padding: 5px;
    border: solid 1px #ddd;
    background: white;
    box-shadow: 2px 2px 3px #666;
    cursor: pointer;

    .teamColor {
      display: inline-block;
      width: 15px;
      height: 15px;
      border-radius: 3px;
      border: solid 1px #000;
      margin: 0px 10px;
    }

    .teamName {
      display: inline-block;
    }
    
    &.selected {
      background: #9BC0C6;
      border: solid 1px #000;

      &:hover {
        background: #9BC0C6;
      }
    }

    &:hover {
      border: solid 1px #666;
    }
  }  
}