container {
  text-align: center;
  margin-top: 25px;

  .form-group {
    display: inline-block;

    div {
      display: inline-block;
    }
  } 

  .submitBtn {
    border: solid 1px #ccc;
    background: #eee;
    display: inline-block;
    padding: 2px 25px;
    margin-left: 5px;
    cursor: pointer;

    &:hover {
      background: #ddd;
    }
  }
}