
container {

  margin-top: 10px;
  
  footer {
    text-align: center;
    padding: 10px;
    background: #3379A9;
    color: #FBFDFE;
  }

  .topBorder {
    border-top: solid 5px #9BC0C6;
    border-bottom: solid 5px #DCF2F9;
  }
}