component {

  .draftForm {
    text-align: center;

    .playerForm {
      display: inline-block;
      margin-right: 25px;
    }

    .teamForm {
      display: inline-block;
    }
  }

  .playerReview {
    margin-top: 15px;
    background: #ccc;
  }
  
}