component {
  overflow: scroll;  

  .players {
    margin: 0 0;
    border-spacing: 0;
    min-width: 100%;

    thead {
      tr:last-of-type td {
        border-bottom: solid 2px black;
      }

      td {
        font-weight: bold;
        cursor: pointer;

        &.baggageHeader {
          text-align: center;
        }

        &:hover {
          color: #666;
        }
        
        &.sortAsc:after {
          content: '\25B2';
        }

        &.sortDesc:after {
          content: '\25BC';
        }
      }
    }

    tbody tr {
      cursor: pointer;
    }
  }

  .baggageColumn {
    position: relative;

    &.first {
      border-left: inset 3px rgba(150,150,150,.8);
    }

    &.last {
      border-right: inset 3px rgba(150,150,150,.8);
    }

    &.top {
      border-top: inset 3px rgba(150,150,150,.8);
      background: #ccc;
    }
    
    &:before {
      content: ' ';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: rgba(0,0,0,.1);
    }
  }

  .otherTeam {
    background: #FFD17E;
    color: #666;
  }

  .drafted {
    background: #AADAFF;
    color: #666;
  }

  .draftedBaggage {
    background: #BDFFB7;
    color: #000;
  }

  .draftable {
    background: #fff;
    color: #000;
  }

  .undraftable {
    background: #ddd;
    color: #666;
  }

  .tableColors {
    text-align: center;
    font-size: 12px;
    margin: 5px 30px;

    h5 {
      font-size: 12px;
      margin: 0px;
      padding: 0;
    }

    .tableColor {
      display: inline-block;
      width: calc( 25% - 10px );
      margin: 5px;
    }
  }

}